@model List<eBusWeb.Models.User>

<h2>Danh sách Users</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Họ tên</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.FullName</td>
            </tr>
        }
    </tbody>
</table>
